body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
  align-items: center;
  width: 70%
}

.main-intro-text {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

p {
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-end;
}

.links-icon {
  padding-right: 10px;
}

.links-text {
  padding-right: 40px;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  padding-top: 20px;
}

.project:hover {
  background-color: #f2fcfc;
}

.project-section {
  margin: 20px;
  width: 50%;
  /* padding: 8px; */
}

.graphics {
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
}

.other-stuff-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  padding-top: 40px;
}

.other-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 33%
}

.heading {
  padding-top: 40px;
}
